In [75]:
from xml.dom.minidom import Entity
import pandas as pd
import numpy as np

In [76]:
def Ret_Pregunta01():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto 
    "GGAL - Cotizaciones historicas.csv". Este csv contiene información de cotización de la 
    acción del Banco Galciia SA. Esta función debe tomar la columna máximo y 
    devolver la suma de los valores de esta, con 4 decimales después de la coma, redondeado.
    '''
    #Tu código aca: 
    df = pd.read_csv("./datasets/GGAL - Cotizaciones historicas.csv")

    return round(df["maximo"].sum(), 4)

Ret_Pregunta01()

202185.8933

In [87]:
def Ret_Pregunta02(precio_min, precio_max):
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto 
    "GGAL - Cotizaciones historicas.csv". Este csv contiene información de cotización de la 
    acción del Banco Galciia SA.
    Esta función toma como argumentos un precio mínimo y un precio máximo cualquiera sea y
    devuelve el promedio correspondiente a la columna "cierre" del conjunto resultante
    entre [precio_min, precio_max] filtrando por la columna "apertura", con 2 decimales después del punto.
    PISTA: usar una máscara sobre la columna "apertura" y después hacer los cálculos
    sobre la columna "cierre"
    '''
    #Tu código aca:
    df = pd.read_csv("./datasets/GGAL - Cotizaciones historicas.csv")
    apertura = df[(df["apertura"] > precio_min) & (df["apertura"] < precio_max)]
    

    return df

print(Ret_Pregunta02(30, 200))

     especie       fecha  apertura  maximo  minimo     cierre  volumen  \
5977    GGAL  17/03/2015     30.25   31.20   30.05   30.90000  1501922
5978    GGAL  18/03/2015     30.50   31.35   29.90   31.00000  1052459
5979    GGAL  19/03/2015     31.00   31.40   29.55   30.50000  2245342
5980    GGAL  20/03/2015     30.50   31.25   30.50   30.60000   917267
6127    GGAL  26/10/2015     34.00   34.90   31.80   33.15000  3204462
...      ...         ...       ...     ...     ...        ...      ...
7762    GGAL  15/07/2022    181.80  190.80  181.50  190.64999   827528
7763    GGAL  18/07/2022    193.00  195.75  192.50  193.89999   929353
7764    GGAL  19/07/2022    196.00  196.50  192.00  194.05000   844566
7765    GGAL  20/07/2022    193.00  193.00  188.55  189.14999  2648143
7766    GGAL  21/07/2022    189.25  201.00  186.10  199.35001  1827159

       timestamp
5977  1426561200
5978  1426647600
5979  1426734000
5980  1426820400
6127  1445828400
...          ...
7762  1657854000
7763  1658113200
7764  1658199600
7765  1658286000
7766  1658372400

[1566 rows x 8 columns]

In [78]:
df = pd.read_csv("./datasets/GGAL - Cotizaciones historicas.csv")
df

,especie,fecha,apertura,maximo,minimo,cierre,volumen,timestamp
0,GGAL,02/01/1991,0.02338,0.02338,0.02313,0.02338,0,662781600
1,GGAL,03/01/1991,0.02289,0.02289,0.02251,0.02289,0,662868000
2,GGAL,04/01/1991,0.02251,0.02289,0.02251,0.02251,0,662954400
3,GGAL,07/01/1991,0.02202,0.02202,0.02202,0.02202,0,663213600
4,GGAL,08/01/1991,0.02128,0.02177,0.02128,0.02128,0,663300000
...,...,...,...,...,...,...,...,...
7774,GGAL,02/08/2022,213.30000,226.00000,213.30000,225.85001,2656873,1659409200
7775,GGAL,03/08/2022,227.00000,228.80000,221.00000,225.60001,1363536,1659495600
7776,GGAL,04/08/2022,228.39999,230.90000,220.50000,223.35001,2377323,1659582000
7777,GGAL,05/08/2022,225.00000,227.50000,221.50000,222.20000,1111195,1659668400
7778,GGAL,08/08/2022,226.39999,228.85000,222.00000,228.35001,1161617,1659927600

In [88]:
def Ret_Pregunta03():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar la cantidad de registros únicos de la columna Year sin tener en cuenta aquellos con valores faltantes
    retornando ese valor en un dato de tipo entero.
    '''
    #Tu código aca:
    df = pd.read_csv("./datasets/Fuentes_Consumo_Energia.csv")

    return len(df["Year"].dropna().unique())

Ret_Pregunta03()

55

In [80]:
def Ret_Pregunta04():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto 
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar la cantidad de registros retornando ese valor en un dato de tipo entero.
    '''
    #Tu código aca:
    df = pd.read_csv("./datasets/Fuentes_Consumo_Energia.csv")

    return df.shape[0]

Ret_Pregunta04()

5190

In [81]:
def Ret_Pregunta05():
    '''
        Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto 
    "GGAL - Cotizaciones historicas.csv". Este csv contiene información de cotización de la 
    acción del Banco Galciia SA. Crear una nueva columna, llamada "variacion", que registre
    las variaciones de la columna "máximo". La función debe devolver el valor máximo de la 
    columna "variacion". 
    '''
    #Tu código aca:
    df = pd.read_csv("./datasets/GGAL - Cotizaciones historicas.csv")

    df["variacion"] = df["maximo"] - df["maximo"][0]

    return round(df["variacion"].max(), 1)

Ret_Pregunta05()

263.9

In [82]:
def Ret_Pregunta06(m1, m2, m3):
    '''
    Esta función recibe tres array de Numpy, cada uno de dimensión 2, y devuelve el valor booleano
    True si es posible realizar una multiplicación entre las tres matrices (n1 x n2 x n3),
    y el valor booleano False si no lo es
    Ej:
        n1 = np.array([[0,0,0],[1,1,1],[2,2,2]])
        n2 = np.array([[3,3],[4,4],[5,5]])
        n3 = np.array([1,1],[2,2])
        print(Ret_Pregunta06(n1,n2,n3))
            True            -> Valor devuelto por la función en este ejemplo
        print(Ret_Pregunta06(n2,n1,n3))
            False            -> Valor devuelto por la función en este ejemplo
    '''
    #Tu código aca:
    if (m1.shape[1] == m2.shape[0]):
        if (np.dot(m1, m2).shape[1] == m3.shape[0]):
            return True
    
    return False

n1 = np.array([[0,0,0],[1,1,1],[2,2,2],[3,3,3],[4,4,4],[5,5,5]])
n2 = np.array([[6,7],[8,6],[7,8]])
n3 = np.array([[9,9],[10,10]])
Ret_Pregunta06(n1, n2, n3)

True

In [83]:
def Ret_Pregunta07():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar cuál de la siguiente lista de países tuvo mayor generacíon de
    energía hìdrica (Hydro_Generation_TWh) en el año 2017:
        * Argentina
        * Germany
        * Chile
        * Colombia
        * Ecuador
        * Mexico
        * Peru
    Debe retornar el valor en un dato de tipo string.
    '''
    #Tu código aca:
    df = pd.read_csv("./datasets/Fuentes_Consumo_Energia.csv")
    paises = ["Argentina", "Germany", "Chile", "Colombia", "Ecuador", "Mexico", "Peru"]
    df = df[(df["Entity"].isin(paises)) & (df["Year"] == 2017)]
    indice = df["Hydro_Generation_TWh"].idxmax()

    return df["Entity"][indice]

Ret_Pregunta07()

'Colombia'

In [84]:
def Ret_Pregunta08():
    '''
        Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto 
    "GGAL - Cotizaciones historicas.csv". Este csv contiene información de cotización de la 
    acción del Banco Galciia SA.
    Esta función debe calcular el promedio tomando los últimos 100 datos de las columnas "apertura"
    y "cierre", en ese orden, y retornar los dos valores en forma de tupla. Usar dos decimales después
    del punto y redondear de ser necesario.
    '''
    #Tu código aca:
    df = pd.read_csv("./datasets/GGAL - Cotizaciones historicas.csv")
    apertura = sum(df["apertura"].tail(100)/100)
    cierre = sum(df["cierre"].tail(100)/100)

    return (round(apertura, 2), round(cierre, 2))

Ret_Pregunta08()

(194.34, 194.33)

In [85]:
def Ret_Pregunta09():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe la mayor cantidad, en TWh, de energía nuclear generada, agrupando según entidad.
    Use dos decimales después del punto.
    '''
    #Tu código aca:
    df = pd.read_csv("./datasets/Fuentes_Consumo_Energia.csv")
    suma_energia = df.groupby(df["Entity"])['Nuclear_Generation_TWh'].sum()
    indice = suma_energia.idxmax()
    return round(suma_energia[indice], 2)

Ret_Pregunta09()

93087.62

In [86]:
def Ret_Pregunta10(lista):
    '''
    Esta función recibe como parámetro un objeto de la clase Lista() definida en el archivo Lista.py.
    Debe recorrer la lista y retornan la cantidad de nodos que posee. Utilizar el método de la clase
    Lista llamado getCabecera()
    Ejemplo:
        lis = Lista()
        lista.agregarElemento(1)
        lista.agregarElemento(2)
        lista.agregarElemento(3)
        print(Ret_Pregunta10(lista))
            3    -> Debe ser el valor devuelto por la función Ret_Pregunta10() en este ejemplo
    '''
    #Tu código aca:
    x = 0
    a = lista.getCabecera()
    if a:
        x = 1
    while a.getSiguiente():
        x+=1
        a = a.getSiguiente()
    return x

Ret_Pregunta10()

TypeError: Ret_Pregunta10() missing 1 required positional argument: 'lista'