In [10]:
import pandas as pd
import numpy as np

In [23]:
def Ret_Pregunta01():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta funcion debe informar la cantidad de registros cuya entidad sean Colombia o Mexico retornando ese valor en un dato
    tupla (Colombia, Mexico).
    Pista averiguar la funcion Shape
    '''
    #Tu codigo aca:
    df = pd.read_csv("./datasets/Fuentes_Consumo_Energia.csv")
    colombia = df[df["Entity"] == "Colombia"].shape
    print(colombia)
    mexico = df[df["Entity"] == "Mexico"].shape #Traemos (filas, columnas)
    print(mexico)
    tupla = (colombia[0], mexico[0])
    return tupla

In [41]:
df = pd.read_csv("./datasets/Fuentes_Consumo_Energia.csv")
df.shape

(5190, 11)

In [24]:
print(Ret_Pregunta01())

(55, 11)
(55, 11)
(55, 55)

In [33]:
df = pd.read_csv("./datasets/Fuentes_Consumo_Energia.csv")
df = df.iloc[:,2:]
df

,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
0,1965,1.164586,0.034358,0.000000,13.905635,0.000000,0.000000,0.000000,1.173241
1,1966,1.163240,0.038412,0.000000,15.510004,0.000000,0.000000,0.000000,1.284154
2,1967,1.189050,0.037964,0.000000,16.190636,0.000000,0.000000,0.000000,1.273799
3,1968,1.236646,0.038480,0.000000,18.938341,0.000000,0.000000,0.000000,1.344219
4,1969,1.247915,0.044971,0.000000,22.100890,0.000000,0.000000,0.000000,1.362729
...,...,...,...,...,...,...,...,...,...
5185,2015,157.838896,125.208335,538.277477,3884.619692,2575.763561,256.838045,831.567439,183.210968
5186,2016,155.504177,128.124027,547.865908,4012.947981,2614.905286,328.237428,963.774036,186.912413
5187,2017,156.094106,131.708206,582.893132,4065.869592,2638.554157,446.946764,1140.971268,189.242920
5188,2018,158.793935,138.659832,615.038237,4171.404951,2700.373917,582.754345,1270.164880,191.451896
5189,2019,157.857047,141.452770,651.811211,4222.214992,2795.961529,724.086506,1429.619982,193.031574

In [30]:
def Ret_Pregunta02():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta funciï¿½n debe eliminar las columnas 'Code' y 'Entity' y luego informar la cantidad de columnas
    retornando ese valor en un dato de tipo entero.
    '''
    #Tu cï¿½digo aca:
    df = pd.read_csv("./datasets/Fuentes_Consumo_Energia.csv")
    df.drop(['Code','Entity'], axis= 1, inplace = True)
    #print(df.head(1))
    
    return df.shape[1]

In [31]:
Ret_Pregunta02()

   Year  Coal_Consumption_EJ  Gas_Consumption_EJ  Geo_Biomass_Other_TWh  \
0  1965             1.164586            0.034358                    0.0

   Hydro_Generation_TWh  Nuclear_Generation_TWh  Solar_Generation_TWh  \
0             13.905635                     0.0                   0.0

   Wind_Generation_TWh  Oil_Consumption_EJ
0                  0.0            1.173241

9

In [45]:
def Ret_Pregunta03():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta funcion debe informar la cantidad de registros de la columna Year sin tener en cuenta aquellos con valores faltantes
    retornando ese valor en un dato de tipo entero.
    '''
    df = pd.read_csv("./datasets/Fuentes_Consumo_Energia.csv")

    df.dropna()
    df1 = df['Year'].shape[0]
    return df1

In [46]:
Ret_Pregunta03()

5190

In [67]:
def Ret_Pregunta04():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    El ExaJulio es una unidad diferentes al TWh, es decir, no tiene sentido sumarlos o
    buscar proporciones entre ellos, la formula de conversion es:
    277.778 Teravatios/Hora (TWh) = 1 Exajulio
    Los campos terminados en "_EJ" corresponden a mediciones en Exajulios,
    y los terminados en "_TWh" corresponden a Teravatios/Hora.
    La consigna es crear un nuevo campo, que se denomine "Consumo_Total"
    y que guarde la sumatoria de todos los consumos expresados en Teravatios/Hora
    (convirtiendo a esta medida los que estan en Exajulios)
    Esta funcion debe informar el consumo total para la entidad 'World' y aÃ±o '2019',
    redondeado a 2 decimales, retornando ese valor en un dato de tipo float.
    '''
    #Tu codigo aca:
    df = pd.read_csv("./datasets/Fuentes_Consumo_Energia.csv")

    df["Consumo_Total"] = ((df["Coal_Consumption_EJ"] + df["Gas_Consumption_EJ"] + df["Oil_Consumption_EJ"]) * 277.778 + df["Geo_Biomass_Other_TWh"] + df["Wind_Generation_TWh"] + df["Hydro_Generation_TWh"] + df["Solar_Generation_TWh"] + df["Nuclear_Generation_TWh"])

    df = df[(df["Entity"] == "World") & (df["Year"] == 2019)]

    return round(float(df['Consumo_Total']), 2)

In [68]:
Ret_Pregunta04()

146585.3

In [83]:
def Ret_Pregunta05():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta funcion debe informar el aÃ±o de mayor generacion de energia hidrica (Hydro_Generation_TWh)
    para la entidad 'Europe' retornando ese valor en un dato de tipo entero.
    '''
    #Tu cï¿½digo aca:
    df = pd.read_csv("./datasets/Fuentes_Consumo_Energia.csv")
    df = df[df["Entity"] == "Europe"]
    indice = df["Hydro_Generation_TWh"].idxmax()
    #print(indice)

    return df["Year"][indice]

In [84]:
Ret_Pregunta05()

1393

2013

In [89]:
def Ret_Pregunta06(m1, m2, m3):
    '''
    Esta funciï¿½n recibe tres array de Numpy de 2 dimensiones cada uno, y devuelve el valor booleano
    True si es posible realizar una multiplicaciï¿½n entre las tres matrices (n1 x n2 x n3),
    y el valor booleano False si no lo es
    Ej:
        n1 = np.array([[0,0,0],[1,1,1],[2,2,2]])
        n2 = np.array([[3,3],[4,4],[5,5]])
        n3 = np.array([1,1],[2,2])
        print(Ret_Pregunta06(n1,n2,n3))
            True            -> Valor devuelto por la funciï¿½n en este ejemplo
        print(Ret_Pregunta06(n2,n1,n3))
            False            -> Valor devuelto por la funciï¿½n en este ejemplo
    '''
    #Tu cï¿½digo aca:
    if (m1.shape[1] == m2.shape[0]): #columnas de 1 x fila de 2
        if (np.dot(m1, m2).shape[1] == m3.shape[0]): #np.dot multip m1 y m2, y veo si sus col = fil de m3
            return True

    return False

In [90]:
n1 = np.array([[0,0,0],[1,1,1],[2,2,2],[3,3,3],[4,4,4],[5,5,5]])
n2 = np.array([[6,7],[8,6],[7,8]])
n3 = np.array([[9,9],[10,10]])
Ret_Pregunta06(n1, n2, n3)

True

In [104]:
def Ret_Pregunta07():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta funciï¿½n debe informar cuï¿½l de la siguiente lista de paï¿½ses tuvo mayor generacï¿½on de
    energï¿½a hï¿½drica (Hydro_Generation_TWh) en el aï¿½o 2019:
        * Argentina
        * Brazil
        * Chile
        * Colombia
        * Ecuador
        * Mexico
        * Peru
    Debe retornar el valor en un dato de tipo string.
    '''
    #Tu cï¿½digo aca:
    df = pd.read_csv("./datasets/Fuentes_Consumo_Energia.csv")
    paises = ["Argentina", "Brazil", "Chile", "Colombia", "Ecuador", "Mexico", "Peru"]
    df = df[(df["Entity"].isin(paises)) & (df["Year"] == 2019)]
    indice = df["Hydro_Generation_TWh"].idxmax()
    #print(indice)

    return df["Entity"][indice]

In [105]:
Ret_Pregunta07()

564

'Brazil'

In [115]:
def Ret_Pregunta08():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta funciï¿½n debe informar la cantidad de entidades diferentes que estï¿½n presentes en el dataset
    retornando ese valor en un dato de tipo entero.
    '''
    #Tu cï¿½digo aca:
    df = pd.read_csv("./datasets/Fuentes_Consumo_Energia.csv")

    return df["Entity"].nunique()

In [116]:
Ret_Pregunta08()

100

In [132]:
def Ret_Pregunta09():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "datasets/Tabla1_ejercicio.csv" y "datasets/Tabla2_ejercicio.csv".
    Esta funciï¿½n debe informar: score_promedio_femenino y score_promedio_masculino en formato tupla
    '''
    #Tu cï¿½digo aca:
    tabla1 = pd.read_csv("./datasets/Tabla1_ejercicio.csv", sep = ";")
    tabla2 = pd.read_csv("./datasets/Tabla2_ejercicio.csv", sep = ";")
    tabla_gral = pd.merge(tabla1, tabla2, on = "pers_id").drop_duplicates()

    score_promedio_femenino = tabla_gral[tabla_gral["sexo"] == "F"]["score"].mean()
    score_promedio_masculino = tabla_gral[tabla_gral["sexo"] == "M"]["score"].mean()

    return (round(score_promedio_femenino, 2), round(score_promedio_masculino, 2))

In [133]:
Ret_Pregunta09()

(630.26, 772.28)

In [ ]:
def Ret_Pregunta10(lista):
    '''
    Esta funciÃ³n recibe como parÃ¡metro un objeto de la clase Lista() definida en el archivo Lista.py.
    Debe recorrer la lista y retornan la cantidad de nodos que posee. Utilizar el mÃ©todo de la clase
    Lista llamado getCabecera()
    Ejemplo:
        lis = Lista()
        lista.agregarElemento(1)
        lista.agregarElemento(2)
        lista.agregarElemento(3)
        print(Ret_Pregunta10(lista))
            3    -> Debe ser el valor devuelto por la funciÃ³n Ret_Pregunta10() en este ejemplo
    '''
    #Tu cÃ³digo aca:
    nodos=0

    elemento = lista.getCabecera()

    if elemento != None:
        nodos = 1
    else:
        return 0

    while elemento.getSiguiente() != None:
        elemento = elemento.getSiguiente()
        nodos += 1
    
    return nodos

In [ ]:
Ret_Pregunta10()